@font-face {
  font-family: "Rubik Light";
  src: url("./fonts/Rubik-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Rubik Regular";
  src: url("./fonts/Rubik-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Rubik Medium";
  src: url("./fonts/Rubik-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Rubik Bold";
  src: url("./fonts/Rubik-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito Light";
  src: url("./fonts/Nunito-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito";
  src: url("./fonts/Rubik-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito SemiBold";
  src: url("./fonts/Nunito-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito Bold";
  src: url("./fonts/Rubik-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito Black";
  src: url("./fonts/Nunito-Black.ttf") format("truetype");
}
