@font-face {
  font-family: "Rubik Light";
  src: url("./Fonts/Rubik-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Rubik Regular";
  src: url("./Fonts/Rubik-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Rubik Medium";
  src: url("./Fonts/Rubik-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Rubik Bold";
  src: url("./Fonts/Rubik-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito Light";
  src: url("./Fonts/Nunito-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito";
  src: url("./Fonts/Rubik-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito Bold";
  src: url("./Fonts/Rubik-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito Black";
  src: url("./Fonts/Nunito-Black.ttf") format("truetype");
}
